   @import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
   html,
   body {
     width: 100%;
     height: 100%;
     font-family: 'Roboto', sans-serif;
   }
   
   canvas {
     width: 100%; /* Do not remove */
     height: 100%;  /* Do not remove */
     border: 1px solid #f2f2f2;
     box-shadow: 2px 2px 1px #f2f2f2;
     float: left;
     position: relative;
     z-index: 0;
   }

.clearfix1, .clearfix2, .clearfix3 {
  overflow: auto;
  display: none;
}
.topics {
  display: none;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}
#topicsh1{
margin-bottom: 30px;
}

#fakeTextField {
  width: 100px;
  height: 100px;
  border-style: solid;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}
#comment {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  resize: none;
}
#tempTextField {
  position: relative;
  z-index: 2;
  width: 100px;
  height: 100px;
  display: none;
  padding: 0;
}

#deleteNote {
  cursor: pointer;
  height: 25px;
  width: 25px;
  font-size: 25px;
  display: block;
  top: 40px;
  display: none;
}

.input-group-btn {
  padding: 0;
  vertical-align: top;
}

#topic1, #topic2, #topic3{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  z-index: 10
}
#topic1:hover, #topic2:hover, #topic3:hover{
 background-color: aliceblue;
}

#t1, #t2, #t3 {
  display: inline-block;
}

#topicsName1, #topicsName2, #topicsName3 {
   vertical-align: middle;
  margin: 55px 0 0 0;
}
#showSettings1, #showSettings2, #showSettings3 {
  cursor: pointer;
  height: 40px;
  width: 40px;
  font-size: 25px;
  z-index: 100;
  padding-top: 5px;
  float: right;
}

#wrapper {
  width: 430px;
  height: 240px;
  margin-top: 10px;
  align-content: center;
  margin: 0 auto;
  margin-top: 30px;
}
#delete1, #delete2, #delete3 {
  cursor: pointer;
  height: 25px;
  width: 25px;
  font-size: 25px;
  position: absolute;
  top: 160px;
  left:10px;

}

.settings1, .settings2, .settings3 {
  width: 200px;
  height: 200px;
  display: none;
  float: right;
  position: relative;
}
#inputTopic1 {
  display: none;
}

.panel-body {
  width: 200px;
  height: 200px;
  margin: 0 auto;
    vertical-align: middle;

}
   
   #sideBarButton {
     width: 45px;
     height: 45px;
     position: absolute;
     align-content: center;
   }
   
   #sideBarButton>#close {
     margin-left: 210px;
   }
   
   #sideBarButton>#open {
     display: none;
     margin-left: 20px;
   }
   
   #sideBarButton>.glyphicon {
     font-size: 40px;
     cursor: pointer;
   }
   
   .sideBar {
     z-index: 100;
     width: 200px;
     height: 500px;
     background-color: #fff2e6;
     box-shadow: 2px 2px 3px #262626;
     position: absolute;
     text-align: left;
   }
   
   .sideBar>#toggle>#stickyH2 {
     left: 20px;
     font-size: 20px;
     position: absolute;
   }
   
   .sideBar>#toggle>#stickyNote1 {
     width: 40px;
     height: 40px;
     top: 60px;
     left: 20px;
     background-color: yellow;
     box-shadow: 1px 1px 2px #262626;
     position: absolute;
     cursor: pointer;
   }
   
   .sideBar>#toggle>#stickyNote2 {
     width: 40px;
     height: 40px;
     top: 60px;
     left: 75px;
     background-color: greenyellow;
     box-shadow: 1px 1px 2px #262626;
     position: absolute;
     cursor: pointer;
   }
   
   .sideBar>#toggle>#stickyNote3 {
     width: 40px;
     height: 40px;
     top: 60px;
     left: 130px;
     background-color: deepskyblue;
     box-shadow: 1px 1px 2px #262626;
     position: absolute;
     cursor: pointer;
   }
   
   /*.sideBar>#toggle>#textFieldH2 {
     left: 20px;
     top: 120px;
     font-size: 20px;
     position: absolute;
   }*/
   
   .sideBar>#toggle>#textField {
     font-size: 14px;
     width: 160px;
     height: 50px;
     top: 180px;
     left: 20px;
     border: 1px solid #262626;
     position: absolute;
     cursor: pointer;
     resize: none;
     overflow: hidden;
     border-radius: 2px;
   }

  .sideBar>#toggle>#textField:hover {
    box-shadow: 0px 0px 5px #262626;
  }

   
   p {
     margin-left: 12px;
     font-size: 1.2em;
     width: 50%;
   }
   
   .hidden {
     display: none;
   }
   
   .can {
     text-align: center;
     display: none;
     position: relative;
   }
   
   .row {
     padding-top: 10px;
     width: 400px;
     margin: auto;
     !important float: none;
     !important text-align: auto;
     !important align-content: center;
     !important
   }
   
   .col-lg-6 {
     width: 100%;
     margin: auto;
     !important text-align: center;
     !important align-content: center;
     !important float: none;
     !important
   }
   
   #indexh1 {
     padding-top: 30px;
     text-align: center;
     font-size: 50px;
   }


  .dropdown-menu {
     min-width: 40px;
     max-width: 110px;
     text-align: center;
     float: right;
     left: -40px;
     position: relative;
   }
   
   #dropDown {
     margin: 0 auto;
   }
 #colorDrop {
     padding: 5px 5px 1px 5px;
     -webkit-column-count: 2;
     -webkit-column-gap: 0;
     -webkit-column-fill: auto;
     -moz-column-count: 2;
     -moz-column-gap: 0;
     -moz-column-fill: auto;
     column-count: 2;
     column-gap: 0;
     column-fill: auto;
   }
   
   #colorDrop>li {
     align-content: center;
     text-align: center;
     margin: 0 auto;
     padding: 0 0 5px 0;
     vertical-align: middle;
     display: inline-block;
     -webkit-column-break-inside: avoid;
     column-break-inside: avoid;
     opacity: 1;
     -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
     -o-transition: all .2s ease;
     cursor: pointer;
   }
   
   #colorDrop>li>a {
     align-content: center;
     margin: 0 auto;
     padding: 0;
     height: 30px;
     width: 40px;
   }
   
   #colorDrop>li>a:hover {
     background-color: white;
   }
   
   .btn-group {
     position: relative;
     vertical-align: top;
     align-content: center;
     text-align: center;
     display: none;
     top: 0;
     left: 0;
   }


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    display: none;
    width: 290px;
    height: 55px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: -290px;
    top: 25px;
    z-index: 50;
    bottom: 125%;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: -15%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

/* Hide and show the popup */
.popup .show {
    display: inline-block;
}